<script type="text/x-template" id="dashboard-template">
    <v-container fluid>

        <v-row class="align-center mb-2">
            <v-col>
                <h1 style="font-size: 20px; font-weight: 600; margin: 0;">
                    Welcome, tracker_admin (admin)
                </h1>
            </v-col>

            <v-col class="d-flex justify-end">
                <v-btn
                        color="error"
                        outlined
                        small
                        @click="logout"
                >
                    Logout
                </v-btn>
            </v-col>
        </v-row>
        <v-tabs
                v-model="tab"
                height="48"
                slider-color="white"
                show-arrows
                next-icon="mdi-arrow-right-bold-box-outline"
                prev-icon="mdi-arrow-left-bold-box-outline"
        >
            <v-tab v-for="item in tabs" :key="item" v-text="item" style="font-size: 12px;"></v-tab>
        </v-tabs>

        <v-tabs-items v-model="tab">
            <v-tab-item>
                <v-card flat>
                    <v-card-text>
                        <h3>Welcome to Dashboard</h3>
                        <p>This is the main overview.</p>
                    </v-card-text>
                </v-card>
            </v-tab-item>

            <v-tab-item>
                <v-card flat>
                    <v-card-text>
                        <h3>Campaigns</h3>
                        <p>Here is user-related information.</p>
                    </v-card-text>
                </v-card>
            </v-tab-item>

            <v-tab-item>
                <v-card flat>
                    <v-card-text>
                        <h3>Landing Pages</h3>
                        <p>Application configuration options.</p>
                    </v-card-text>
                </v-card>
            </v-tab-item>

            <v-tab-item>
                <v-card flat>
                    <v-card-text>
                        <h3>Affiliate Network</h3>
                        <p>Application configuration options.</p>
                    </v-card-text>
                </v-card>
            </v-tab-item>
            <v-tab-item>
                <v-card flat>
                    <v-card-text>
                        <h3>Offers</h3>
                        <p>Application configuration options.</p>
                    </v-card-text>
                </v-card>
            </v-tab-item>
            <v-tab-item>
                <v-card flat>
                    <v-card-text>
                        <h3>Sources</h3>
                        <p>Application configuration options.</p>
                    </v-card-text>
                </v-card>
            </v-tab-item>
            <v-tab-item>
                <v-card flat>
                    <v-card-text>
                        <h3>Reports</h3>
                        <p>Application configuration options.</p>
                    </v-card-text>
                </v-card>
            </v-tab-item>
            <v-tab-item>
                <v-card flat>
                    <v-card-text>
                        <h3>Domains</h3>
                        <domains-component></domains-component>
                    </v-card-text>
                </v-card>
            </v-tab-item>
            <v-tab-item>
                <v-card flat>
                    <v-card-text>
                        <h3>Settings</h3>
                        <p>Application configuration options.</p>
                    </v-card-text>
                </v-card>
            </v-tab-item>
            <v-tab-item>
                <v-card flat>
                    <v-card-text>
                        <h3>Users</h3>
                        <p>Application configuration options.</p>
                    </v-card-text>
                </v-card>
            </v-tab-item>
            <v-tab-item>
                <v-card flat>
                    <v-card-text>
                        <h3>Documentation</h3>
                        <about-component></about-component>
                    </v-card-text>
                </v-card>
            </v-tab-item>

        </v-tabs-items>
    </v-container>
</script>

<script type="application/javascript">
    Vue.component('dashboard-component', {
        template: '#dashboard-template',
        data() {
            return {
                tab: 0, // Active tab
                tabs: [
                    "Dashboard",
                    "Campaigns",
                    "Landing Pages",
                    "Affiliate Network",
                    "Offers",
                    "Sources",
                    "Reports",
                    "Domains",
                    "Settings",
                    "Users",
                    "Documentattion"
                ],

            }
        },
        watch: {
            tab(newTab) {
                if (this.tab === 7) { // Если Domains вкладка
                    console.log('Domains tab selected');
                    this.$root.$emit('load-domains');
                }
            }
        },
        methods: {
            async logout() {
                document.cookie = "session_token=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/; domain=" + window.location.hostname + ";";
                await fetch('/backend/api/logout', {
                    method: 'POST',
                    credentials: 'include'
                });
                // Редирект на страницу авторизации
                window.location.href = '/backend/auth';
            }
        }
    });
</script>