<script type="text/x-template" id="about-template">
    <v-container fluid>
        <h3>About AKM tracker</h3>
        <p class="mt-4">
            AKM tracker is a web application designed to help you manage and track your affiliate marketing campaigns.
            It provides a user-friendly interface for managing offers, sources, reports, and domains.
            The application is built using modern web technologies, including Vue.js and Vuetify, to ensure a smooth
            and responsive user experience.
        </p>
        <p>
            The application is designed to be easy to use, with a clean and intuitive interface that allows you to
            quickly navigate through different sections. You can easily add, edit, and delete offers, sources, and
            domains, as well as view detailed reports on your campaigns' performance.
        </p>
        <h3>About Pages</h3>
        <p class="mt-4">
            <b>Sources</b> — in the tracker it is a set of templates for setting up UTM tag reciving. As well for sending S2S-Postback (conversions).
        </p>
    </v-container>
</script>

<script type="application/javascript">
    Vue.component('about-component', {
        template: '#about-template',
        data() {
            return {
                headers: [
                    {
                        text: 'Dessert (100g serving)',
                        align: 'start',
                        value: 'name',
                    },
                    {text: 'Calories', value: 'calories'},
                    {text: 'Fat (g)', value: 'fat'},
                    {text: 'Carbs (g)', value: 'carbs'},
                    {text: 'Protein (g)', value: 'protein'},
                    {text: 'Iron (%)', value: 'iron'},
                ],
                desserts: [
                    {
                        name: 'Frozen Yogurt',
                        calories: 159,
                        fat: 6.0,
                        carbs: 24,
                        protein: 4.0,
                        iron: 1,
                    },
                    {
                        name: 'Ice cream sandwich',
                        calories: 237,
                        fat: 9.0,
                        carbs: 37,
                        protein: 4.3,
                        iron: 1,
                    },
                    {
                        name: 'Eclair',
                        calories: 262,
                        fat: 16.0,
                        carbs: 23,
                        protein: 6.0,
                        iron: 7,
                    },
                    {
                        name: 'Cupcake',
                        calories: 305,
                        fat: 3.7,
                        carbs: 67,
                        protein: 4.3,
                        iron: 8,
                    },
                    {
                        name: 'Gingerbread',
                        calories: 356,
                        fat: 16.0,
                        carbs: 49,
                        protein: 3.9,
                        iron: 16,
                    },
                    {
                        name: 'Jelly bean',
                        calories: 375,
                        fat: 0.0,
                        carbs: 94,
                        protein: 0.0,
                        iron: 0,
                    },
                    {
                        name: 'Lollipop',
                        calories: 392,
                        fat: 0.2,
                        carbs: 98,
                        protein: 0,
                        iron: 2,
                    },
                    {
                        name: 'Honeycomb',
                        calories: 408,
                        fat: 3.2,
                        carbs: 87,
                        protein: 6.5,
                        iron: 45,
                    },
                    {
                        name: 'Donut',
                        calories: 452,
                        fat: 25.0,
                        carbs: 51,
                        protein: 4.9,
                        iron: 22,
                    },
                    {
                        name: 'KitKat',
                        calories: 518,
                        fat: 26.0,
                        carbs: 65,
                        protein: 7,
                        iron: 6,
                    },
                ],
            }
        }
    });
</script>
